{BasedOnStyle: Google,
 IndentWidth: 4,
 TabWidth: 4,
 UseTab: Always,
 AccessModifierOffset: -4,
 SortIncludes: true,
 AllowShortIfStatementsOnASingleLine: true,
 ColumnLimit: 90,
 Cpp11BracedListStyle: true}