Temp/
Rubbish/
Private/
YALI/
*.in
*.out
*.ans
*.txt
*~
*std*
*chk*
*check*
temp-*
DLOJ/
Others/
.vscode/ipch/
Research/
*Orig*

# Developing, will be public soon (gugugu)
Utils/
data/
data-luogu/

# .vscode/
# compile.sh